body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
    color: #252525;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    overflow: auto;

}

.answered-choice {
    background-color: rgba(214, 205, 225, 0.61);
    border: #d5b4b4 solid 1px;
    width: 500px;
    margin: auto;
    height: 100px;
}

.unanswered-choice {
    width: 500px;
    margin: auto;
    height: 100px;
}

.auth {
    width: 250px;
    margin-bottom: 0.5em;
}

.auth-wrapper {
    display: flex;
    flex-flow: column;
    width: 250px;
    margin: 5em auto auto;
}

.auth-btn {
    width: 100px;
    align-self: center;
    font-weight: lighter;
}

.btn {
    text-transform: uppercase;
    margin: 35px 1em 35px 1em;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 250px;
    position: relative;
}

.btn:hover {
    border-color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

.center {
    text-align: center;
    margin: auto;
}

.new-center {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 8em;
    border: 0.5rem outset rgba(156, 176, 153, 0.66);
    outline: 0.5rem solid #696015;
    box-shadow: 0 0 0 2rem #14495e;
    border-radius: 12px;
    padding: 1rem;
    outline-offset: 0.5rem;
}


.lb-center {
    text-align: center;
    margin: auto auto 2em;
    width: 370px;
    height: 310px;
    border-style: outset;
}

.lb-container{
    text-align: center;
    margin: auto;
}

.dashboard-list li {
    width: 300px;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 1em auto;
    padding-bottom: 1.8em;
    border-style: ridge
}

.active {
    font-weight: bold;
}

.nav-container {
    width: 100%;
    margin-bottom: 3em;
    margin-top: 1em;
    overflow: auto;
}

.nav-left {
    float: left;
    margin-left: 2em;
}

.nav-right {
    float: right;
    display: flex;
    margin-right: 2em;
}

.nav-right h3 {
    font-weight: lighter;
}

.nav {
    display: flex;
    flex-direction: row;

}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

.nav li:first-child {
    padding-left: 0;
}

.profile-picture {
    align-self: flex-end;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.avatar {
    height: 50px;
    border-radius: 25px;
}

.avatar2 {
    height: 120px;
    margin: auto;

}
